h1{
	color: #FA8072;
	font-family: Courier;

}
li{
	display: inline-block; 
}
hr{
	width: 72%;
}
.logo{
	width: 50%;
	display: block;
	margin: 0px auto;
	width: 50%;
}
.foto1{
	display: block;
	margin: 0px auto;

}